<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>

<h2>Customer List</h2>

<a th:href="@{/addcustomers}">Add New Customer</a>

<br><br>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>

    <tr th:each="cust : ${customer}">
        <td th:text="${cust.id}"></td>
        <td th:text="${cust.name}"></td>
        <td th:text="${cust.email}"></td>
    </tr>

</table>

</body>
</html>